.content {
    min-height: 650px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img {
    margin-top: 10px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    height: 100px;
}

.field {
    margin-top: 12px !important;
    width: 100%;
}

.button {
    margin-top: 12px !important;
}

.reset {
    margin-top: 10px !important;
    text-transform: none !important;
}

.alert {
    margin-top: 10px !important;
    width: 100%;
}