.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginator {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    & button {
        margin: 0 10px;
    }
}