.wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.upload {
    position: absolute;
    bottom: 8px;
    left: 6px;
}

.img {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
