.name {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.title {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top {
    margin-top: 15px;
}

.wrap {
    padding: 20px;
}

.info {
    border: 1px solid #E0E0E0;
}

.row {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    &:nth-of-type(odd) {
        background: #F5F5F5;
    }
}

