@import '../../App/css/variables.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    @media(max-width: $mobile) {
        justify-content: space-between;
    }
}

.logo {
    height: 55px;
}

.item {
    @media(max-width: $mobile) {
        width: 140px;
        box-shadow: inset 0 0 0 32px rgba(25, 118, 210, 0.8);
        padding: 15px 10px;
        margin-top: 20px;
    }
}

.link {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    padding: 15px;
    &:hover {
        box-shadow: inset 0 0 0 32px rgba(0, 255, 0, 0.1);
        color: lime;
    }
    &:focus {
        box-shadow: none;
        color: white;
    }
}

.avatarBox {
    margin-left: auto;
    display: flex;
    width: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $mobile) {
        margin-left: 0;
    }
}