.card {
    padding: 10px;
}

.name {
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.status {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.avatar {
    display: block;
    margin: 15px auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}